ACL/Owner.csv
ACL/Roles.csv
DATA/ActiveSyncLog.csv
DATA/ExchangeAgentLogs.csv
DATA/ExchangeAgentLogsTrm.csv
DATA/ExchangeMessageLogs.csv
DATA/ExchangeMessageLogsTrm.csv
DATA/FilterConfig.csv
DATA/FilterConfig.xml
DATA/IPArray.csv
DATA/Filters/ContentFilterConfig.BypassedRecipients.csv
DATA/Filters/ContentFilterConfig.BypassedSenderDomains.csv
DATA/Filters/ContentFilterConfig.BypassedSenders.csv
DATA/Filters/ContentFilterConfig.csv
DATA/Filters/ContentFilterPhrasBadWord.csv
DATA/Filters/ContentFilterPhraseGoodWord.csv
DATA/Filters/IPAllowListEntry.csv
DATA/Filters/IPAllowListProvider.csv
DATA/Filters/IPBlockListEntry.csv
DATA/Filters/IPBlockListProvider.csv
DATA/Filters/RecipientFilterConfig.csv
DATA/Filters/SenderFilterConfig.csv
DATA/Filters/SenderIdConfig.csv
DATA/Filters/SenderReputation.csv
LOGS/Errors.log
SETTINGS/Settings.ps1
ExchangeLogAnalyzer.pbix
